requirements.txt

#For full credit on this assignment, the following is required: 
 
# create standard structure  
# create a python script with a specified name 
# ensure there's a readme with instructions on how to compile your program 
# Name the repository “cot-4500-intro”